<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-light">

    <!-- Banner con icono y texto -->
    <div class="banner">
        <img src="/maiz_incon_1.png" alt="Ícono de Menú">
        <span>Bienvenido al sistema de administrador</span>
    </div>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width: 24rem;">
            <h2 class="text-center mb-4">Menú Principal</h2>
            <div class="d-grid gap-3">
                <!-- Enlace para navegar a Gestión de Productos -->
                <a href="/index_inv" class="btn btn-primary btn-custom">Gestión de Productos</a>
                <!-- Enlace para navegar a Gestión de Vehículos -->
                <a href="/vehiculos" class="btn btn-success btn-custom">Gestión de Vehículos</a>
                <!-- Enlace para navegar a Gestión de Usuarios -->
                <a href="/index_us" class="btn btn-warning btn-custom">Gestión de Usuarios</a>
                <!-- Enlace para navegar a Gestión de Pedidos -->
                <a href="/index_ped" class="btn btn-danger btn-custom">Gestión de Pedidos</a>
                <!-- Enlace para navegar a Gestión de Clientes -->
                <a href="/index_cl" class="btn btn-danger btn-custom">Gestión de Clientes</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
